.login-layout {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 750rpx;
  height: 100vh;

  background-image: linear-gradient(180deg, #f2deb7 0%, #efd8ac 100%);
  .login-content {
    width: 640rpx;
    height: calc(100vh - 370rpx);
    padding: 20rpx;

    background-color: rgba($color: #fff, $alpha: 1);
  }
}

.login-form-layout {
  position: relative;
  z-index: 0;

  width: 600rpx;
  height: calc(100vh - 410rpx);
  margin: 0 auto;
  transform: translateY(50rpx);

  background-color: rgba($color: #fff, $alpha: 0.8);
  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 600rpx;
    height: calc(100vh - 410rpx);

    content: '';
    transform: scale(0.9) translate3d(0, 110rpx, -20rpx);

    background-color: rgba($color: #fff, $alpha: 0.5);
  }
  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 600rpx;
    height: calc(100vh - 410rpx);

    content: '';
    transform: scale(0.8) translate3d(0, 240rpx, -40rpx);

    background-color: rgba($color: #fff, $alpha: 0.3);
  }
  .login-form-header {
    text-align: center;
  }
  .login-form-content {
    margin-bottom: 20rpx;
  }
  .login-form-footer {
    margin-bottom: 20rpx;
  }
  .login-form-agreement {
    display: flex;
    justify-content: flex-start;
  }
}
